<div class="header">
    <header>
        <nav>
            <ul class="navlinks">
                <li><a href="{{path 'home'}}">Home</a></li>
                <li><a href="{{path 'plantsearch'}}">Plant Search</a></li>
                <li><a href="{{path 'tips'}}">Plant Forum</a></li>
                <li><a href="{{path 'signup'}}">Sign Up</a></li>
                <li><a href="{{path 'login'}}">Login</a></li>
                <li><a href="#" id="logoutLink">Logout</a></li>
            </ul>
        </nav>
    </header>
</div>