<head>
    <title>Plant Care Search | Garden Bliss</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/plantsearch.css"> 
</head>

    <!-- Main Content Section -->    
    <div class="search-container">
        <h1 class="text-center">Plant Care Search</h1>
    </div>
    <!-- Search Form Section -->
    <div class="plantSearchInput">
        <div id="plantSearch">
            <input type="text" placeholder="Enter Plant Name: Ex: rose">
            <button id="plantSearchBtn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div>
            <button id="plantSaveBtn">
                <i class="fas fa-save"></i>Save Plant       
            </button>
        </div>
    </div>
              
    <!-- Results Section -->
    <div class="plantResultsContainer">
        <div id="plantData">
            {{#if plantInfo}}
                <p>{{plantInfo}}</p>
            {{else}}
                <p>Enter a plant name to see its care information.</p>
            {{/if}}
        </div>
      
        <!-- Plant Image-->
        <div class="plantimagebx">
            <div id="plantImage">
                {{#if plantImage}}
                    <img src="{{plantImage}}" alt="Plant Image">
                {{else}}
                    <img src="/css/images/pinkrose.jpg" alt="Placeholder Plant Image">
                {{/if}}
            </div>
        </div>
    </div>

    <!-- Saved Searches and Delete Saved Plants Section --> 
    <div class="savedSearchContainer">
        <!-- Delete Plants Button -->
        <div class="deletePlants">
            <button id="deletePlantsBtn">
                <i class="fas fa-trash"></i>Delete Plants
            </button>
        </div>
        <div class="savedSearchList">
            <p>{{ savedSearchList }}</p>
        </div>
    </div>
        
 <!-- Error Modal -->
    <div id="errorModal" class="modal" style="display:none;">

        <div class="modalContent">
            <span class="closeButton" onclick="closeModal();">&times;</span>
            <p id="errorText">{{ errorMessage }}</p>
        </div>
    </div>
</div>

    <script src="/js/plantsearch.js"></script>

